body{
  font-family: Helvetica;
  padding-top: 0px;
  margin: 0;
}

h1,h2,h3{
  margin: 0;
}

.navbar-inverse { margin : 0 !important; height: 6% }

.navbar-brand {

  background-image: url(/assets/Logo_Dingfest.png);
}

.belt{
  padding: 5px 10px;
  border-radius: 10px;
  margin-left: 5px;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
}

#menu-bar{
  background: crimson;
  color: #fff;
  padding: 10px;
}

#menu-bar h1{
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
}

#menu-bar ul{
  float: right;
  list-style-type: none;
  padding: 0;
  margin: 6px 0;
}

#menu-bar li{
  float: right;
  margin-left: 20px;
}

#menu-bar a{
  color: #fff
}

main{
  background: #eee;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
}

.content{
  padding: 20px;
}

.content button,
.content input[type="submit"]{
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: #777;
  border: 0;
  box-shadow: 2px 2px 2px rgba(20,20,20,0.1);
  font-size: 16px;
}

.content button:nth-child(2){
  float: right;
}

.content ul{
  padding: 0;
  list-style-type: none;
  margin: 30px 0;
}

.content li{
  padding: 15px 0;
  border-top: 1px solid #e2e2e2;
  color: #444;
}

.content li span{
  float: right;
}

.content li h3{
  display: inline-block;
  font-weight: normal;
  font-size: 22px;
}

.content input{
  width: 90%;
  padding: 10px 5%;
  border-radius: 10px;
  border: 2px solid #ddd;
  margin: 10px 0;
}



.remove{
  float: right;
  padding: 5px;
  background: #fff;
  width: 18px;
  text-align: center;
  border-radius: 20px;
  color: crimson;
  cursor: pointer;
  margin-left: 10px;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width:  1.5px;
}


.link.applies-to {
  stroke: black;
  stroke-dasharray: 0,2 1;
}
.link.indicates {
  stroke: blue;

}

.link.created-by {
  stroke: #145A32;

}

.link.attributed-to {

  stroke: #B9770E;
}

.link.targets {
  stroke: #E74C3C;
}


circle {
    fill: #ccc;
    stroke: black;
    stroke-width: 3px;
}

text {
    font: 15px "Comic Sans MS";
    pointer-events: none;
  text-shadow:2px 2px 8px #FF0000;
}

div {

  float: top
}

/*table, td, th {
  border: 2px solid black;
} */

/*table {
  border-collapse: collapse;
  width: 5%;
  float: right;
} */

/*th {
  height: 50px;
}*/

table.table-striped {
  font: 15px "Comic Sans MS";
  width: 30%;

}

svg {

  width: 70%;
  height: 94%;
  border-style: solid;
  border-width: 5px;
}

table:nth-child(2){

  width:95%;
  margin: 8px;
}

/* table that represents arrays inside stix */
table {

  font: 15px "Comic Sans MS";
  border-collapse: collapse;
  border: 1px solid #929292;

  box-shadow: 0 0 8px #ababab;
  float: right;
  text-align: left;

  width: 30%;

}



th, td {

  border: 1px solid #929292;
  text-align: left;
  vertical-align: top;
  background:#fff;
  font-weight:normal;


}

th{
  background:#a9a9a9;
  color:white;

}
th:nth-child(1){
  text-align: left;


}

tr:nth-child(1){

  width: 100%;
}



td:nth-child(1){
  font-weight: bold;
  background: #f6f6f6;
  text-align: left;
  white-space: nowrap;

}
td:nth-child(2){
  font-style: italic;
  text-align: left;
}


thead:nth-child(2) {
  width: 100%;
}



tr table thead tr th{
  font-size:12px;

}
